[2016-06-08 03:06] kabir-plod opened #1 "Send function always logs an error"
The following code always logs an error.

fcm.send(message, function(err, response){
    if (err) {
        console.log("Something has gone wrong!");
    } else {
        console.log("Successfully sent with response: ", response);
    }
});

Printing err to console shows a JSON object of the format
{
  "multicast_id": 78797070,
  "success": 1,
  "failure": 0,
  "canonical_ids": 0,
  "results": [

[2016-06-08 13:34] jlcvp commented on #1
I've fixed this, it was a problem with handling response messages. Version 1.0.6 is now available on npm

[2016-07-26 16:46] minhuyen commented on #1
On version 1.0.9 it still always log an error. I think you should comment
                   `if (data.indexOf('\"failure\":') > -1) {
                        error = data.substring(0).trim();
                    } else if (data.indexOf('\"success\":') > -1) {
                        id = data.substring(0).trim();
                    } else if (data.indexOf('Unauthorized') > -1) {

[2016-07-26 20:03] jlcvp commented on #1
@minhuyen can you please specify the type of message you're trying to send ? is it a topic message, direct message or multicast ?

[2016-07-26 20:25] jlcvp commented on #1
@minhuyen  anyway I've pushed a little fix, can you test and see if it fixed this issue for you?

[2016-07-27 03:28] minhuyen commented on #1
@jlcvp I am trying both multicast and single recipients but it always response data as below:
`{
  "message": {
    "multicast_id": 8699248289294424000,
    "success": 1,
    "failure": 0,
    "canonical_ids": 0,
    "results": [
      {
        "message_id": "0:1469589874014319%b0b44e3db0b44e3d"
      }
    ]
  }
}`

[2016-07-27 16:24] jlcvp commented on #1
Ok, my treatment of the response json is really shady, I'll clarify it and push an update soon

[2016-08-01 10:13] alexfoxy opened #3 "Sending notifications in parallel gives incorrect response"
Hey,

I'm having an issue where if I send two notifications in parallel, one to an ID of a device I know exists and one to a dummy ID, I get an 'InvalidRegistration' error from both .send() functions. The device does receive the 1st notification.

This causes an issue because when I get an error I want to remove that particular device token from the users tokens on the server. Currently it removes

[2016-08-01 18:12] jlcvp commented on #1
@minhuyen Google have changed some return messages and I refactored the parsing of result messages. Pushed a fix and tested in some scenarios, please update your version to 1.0.11.

I'll close this issue for now. If you continue experiencing this kind of issue, feel free to open another one (or reopen this one if this error come back).

[2016-08-01 18:12] #1 closed

[2016-08-02 00:00] jlcvp commented on #3
@alexfoxy I reproduced it and I'm already looking for a fix (or a workaround or a new implementation for parallel calls in case this is a google's fault). I'll let you know when I push a fix

[2016-08-02 06:03] alexfoxy commented on #3
@jlcvp awesome thanks. I have temporarily fixed by doing it in series which is fine for testing as we  only have a few users. Firebase said:

Feels like a bit of a palm off. If you find out any info about the problem, let me know and I'll pass it on to Firebase.

[2016-08-02 11:55] #3 closed

[2016-08-02 12:03] jlcvp commented on #3
@alexfoxy, thanks again for reporting this. The problem was the logic of event emitter used by send function. It was also causing a memory leak in scenarios with 10+ parallel calls.

Pushed a fix and published a new version 1.0.12 on NPM.

[2016-08-02 12:35] alexfoxy commented on #3
@jlcvp excellent thanks. I can confirm it's fixed. It was quite a nasty one to track down, great job on fixing it so fast :)

[2016-08-02 17:03] antoinerousseau commented on #3
Thanks! I'm going to switch from a fork ([fcm-push](https://github.com/nandarustam/fcm-push)) to this.

Also, did you take a look at the modifications of the forks in your repo's [network](https://github.com/Saber-Tecnologias/fcm-node/network)?

[2016-08-04 13:35] jlcvp commented on #3
@antoinerousseau Yes, I took a look at eFishery's fork. They've implemented the topic messages too and refactored the send function to use promises instead of callbacks.

[2016-08-22 02:03] marcello3d opened #4 "Restore MIT license?"
Hey there, I'd love to use this fork, but it looks like you changed the project from MIT to GPL when you forked it. Any particular reason you decided to do that? Any chance you could re-release it as MIT again?

Thanks!

[2016-08-22 16:12] jlcvp commented on #4
This was my manager's call. I'll check that possibility.

[2016-08-22 16:20] jlcvp commented on #4
@marcello3d just a clarification, it's LGPL. It means that If your work just "uses" this library you don't have to disclose your source code. But if you plan to extend this library you should make the source for the modified version of this library available under the same license.

Anyway, I'll check the reason why the company choose LGPL over MIT and give a feedback here soon.

[2016-08-22 16:29] marcello3d commented on #4
Thanks for the quick reply! I've had issues even with LGPL in the past so tend to steer clear. :-)

Not the end of the world, I'll check out the other forks in the meantime.

[2016-08-31 05:22] nifft opened #5 "NotAuthorizedError"
[code]

[2016-08-31 14:22] jlcvp commented on #5
Please re-check your apikey in FCM console. Google regenerated some of the keys in a update 2 months ago. Feel free to reopen this as long as you provide more info

[2016-08-31 14:22] #5 closed

[2016-08-31 14:29] #4 closed

[2016-08-31 14:32] marcello3d commented on #4
Thank you!

[2016-09-23 00:06] kungteli opened #6 "the error code:TopicsMessageRateExceeded response"
Recently got an error response “TOPICS_MESSAGE_RATE_EXCEEDED” which I never got in the past.
It happened from 2016/8/25 until now.
My node server is simply sending 10 messages to my client with “topics/global” in loop.
It has been  running well since year ago. But recently it became sending error but only succeed for 2 messages in 10 messages.
![image](https://cloud.githubusercontent.com/assets/16

[2016-09-23 11:29] jlcvp commented on #4
@marcello3d make sure you're using 1.0.15+ as it's the first version which the proper license file and package.json is present via npm

[2016-09-23 13:16] jlcvp commented on #6
@kungteli

1. can you inform the dependencies you're using in your package.json?
2. are the server behind any proxy?

[2016-09-23 23:19] kungteli commented on #6
Hello, Attached below consloe.log from script for your reference. you
should be able to find out the JSON file structure.i didnt use an
Package.json file. i just simply select the data from sqlite database then
covert it to json format . I also attached my script as following.

by the way, I am using my laptop as my server for sending message. for sure
,there is no proxy. thanks for your time on t

[2016-09-27 16:51] jlcvp commented on #6
My best guess is that your IP range or API KEY has been flagged by the Firebase/Google servers as a possible source of attacks/spam. The Firebase's documentation doesn't tell explicitly how this topic messsages rate limit is calculated,  so it's just a guess. My advice is to try to collapse all the messages that you send in a loop in only one data object to send through only 1 message (maybe a jso

[2016-09-27 16:55] kungteli commented on #6
Thanks anyway, i also tried to create another server key under a different
project. The result is same. Now i plan to go with other alternative for
resolution. Thanks for your time and sincely appreciate .

2016/9/28 上午12:51，"João Leonardo Pereira" <notifications@github.com>寫道：

[2016-09-28 14:35] #6 closed

[2016-09-30 11:28] Suven opened #7 "Working iOS-Example?"
Hey,

I have the following behaviour: iOS-Users receive messages send through the firebase-console BUT not send via the script. Android-Users receive both.

I tried it with single-device-targeting, topic-targeting and with/without priorities.

Is there anything else to be aware of? Are pushes send from the HTTP-API using the dev-cert instead of the prod-cert?

I really would appreciate a working e

[2016-09-30 12:56] sourcevitor commented on #7
Do you try insert a prop title in your Notification object?

    notification: {
        title: 'YOUR TITLE',
        body: 'YOUR MESSAGE'
    },

[2016-09-30 14:03] Suven commented on #7
Yup, also tried that :/ The strange thing is that the response would always be successfull, even if I directly send it to one device. It's like firebase is ignoring ios.

I just tested it via Postman and Curl and have the same problem.

Feel free to close this then, as it does not seem to be related to that module :/

[2016-09-30 14:15] #7 closed

[2016-10-07 16:05] antoinerousseau opened #8 "[iOS] notification not received although it's successfully sent ("success":1)"
I have installed my new app on my iPhone 5s using Xcode, and the FCM registration token is successfully given to me when I start the app.
When I use this token in the Firebase console (console.firebase.google.com), it works!
But when I send it with `fcm-node`, it doesn't :/
Note that my config is working for Android.
This is my test code:
[code]

And I get:

[code]

But nothing arrives on the phon

[2016-10-07 16:12] antoinerousseau commented on #8
My bad, I had a typo in the code so the priority wasn't set (in my case it must be set...)

[2016-10-07 16:12] #8 closed

[2016-10-11 09:54] hebbian opened #9 "Buffer.js Error Unknown Encoding"
It successfully send push notification but then it crash in buffer.js  as follows :

[code]

I tried it on Mac OSX El Capitan if that helps.
Thanks

[2016-10-11 11:38] jlcvp commented on #9
Looks like it's a problem with your encoding. Can you post the code right before and right after the **send** call?

[2016-11-08 06:34] haneefatel commented on #9
There is an undefined variable error for two variables `anyFail` && `anySuccess`  which are used in /lib/fcm line 78 - 86. We couldn't see the declaration in the code. Please share the updated version.       code snippet you can find bellow,

           `anyFail = ((JSON.parse(data)).failure > 0);

                            if (anyFail) {
                                error = data.substring(0)

[2016-11-09 14:50] jlcvp commented on #9
@haneefatel, these variables are implicitly declared. This isn't the best approach but cannot imply the error described in this issue.

[2016-11-09 15:13] jlcvp opened #10 "Refactor scopes of implicitly declared variables"
Review all the implicitly declared variable scopes and adjust them to their proper scopes

[2016-11-18 22:17] #10 closed

[2016-11-21 10:32] HyeonjuPark opened #12 "Successfully with response but client doesn't get notification"
Successfully sent with response:  {"multicast_id":5979505685602066267,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1479724040861830%0000000000000000"}]}
I put my own server key and message token
and client app is implemented with FirebaseMessagingService and FirebaseInstanceIDService.
When I run the server, it returns success response like above message. However, client ap

[2016-11-21 11:13] antoinerousseau commented on #12
Try to use the Firebase Notifications console

    https://console.firebase.google.com/project/<your-project>/notification

To send one manually to be sure that the issue is not on the device

[2016-11-21 11:14] jlcvp commented on #12
If you're using iOS, please take a look at #7 and #8. If you're at Android, make sure you've properly generated the google-services.json. Additionally, can you inform your send object format?

[2016-11-21 11:24] HyeonjuPark commented on #12
Notification sent from Firebase Notification console works well.

`var fcm_message = {
	to: 'MESSAGE_TOKEN',
	collapse_key: 'test message',

	notification: {
		title: 'Title of test push notification',
		body: 'Body of test push notification'
	},

	data: {
		key: 'test value',
		another_key: 'test another key'
	}
};`
I'm using Android and
this is the object that is almost not changed from the samp

[2016-11-21 11:44] jlcvp commented on #12
@HyeonjuPark The MESSAGE_TOKEN must be the user device token, or a topic the device is already subscribed with a format like "/topic/YOURTOPIC".

To get this device token look at[ this firebase documentation page](https://firebase.google.com/docs/cloud-messaging/android/client)

[2016-11-22 01:55] HyeonjuPark commented on #12
Thanks a lot! Getting the user device token following the link, I got the notification.
However, when I used topic like this
[code]
it didn't work. Seems something I'm wrong again.
Is there a way to broadcast all users?

[2016-11-22 11:53] jlcvp commented on #12
@HyeonjuPark sorry for the typo, the correct is plural -> /**topics**/YOURTOPIC

To broadcast a message to all users you can use the firebase console, or subscribe all your clients in a central topic defined by you.

[2016-11-27 11:00] HyeonjuPark commented on #12
I'm sorry to reply late. It works!! thanks I really appreciate for your kind response.

[2016-11-27 12:52] jlcvp commented on #12
Glad it worked. Feel free to report any other issue.

[2016-11-27 12:52] #12 closed

[2016-12-08 05:52] singh7889 opened #13 "How to send push notification on ios device and multiple devices ??"

[2016-12-27 13:55] #9 closed

[2017-01-08 18:45] hafizali05 opened #14 "what is registration token, collapse key, and data?"
[code]
I am ok to create a working example code though,  I am not finding what should I put on the above mentioned field for registration token, collapse key and the data keys.

[2017-01-10 16:37] jlcvp commented on #14
Registration token is a token firebase mobile api generate to your application instance for every device that has it installed. collapse_key is used to collapse notifications before they get delivered. Data could be any key:value set, it'll be received by your application's firebase service implementation.

For complete information, see https://firebase.google.com/docs/cloud-messaging/http-server-

[2017-01-10 16:37] #14 closed

[2017-01-10 16:50] jlcvp commented on #13
as seen on the README file:

To send notifications for multiple devices, you must use the field **_registration_ids_** instead of **_to_** in your json message. See [FCM HTTP protocol documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref) for details

[2017-01-10 16:50] #13 closed

[2017-01-20 06:47] Bishalsingh opened #15 "InvalidServerResponse"
Since last two days, InvalidServerResponse error gets displayed every single time.
No code changes and this thing was working before.

[2017-01-20 18:51] jlcvp commented on #15
@Bishalsingh can you provide more info? How is the object you're sending? any especial character?

[2017-01-22 16:44] cryser29 commented on #15
@Bishalsingh I had got the same issue one hour ago. I just added one line with `console.log` to the library code and was able to see the actual reason of the error. In my case the error was caused by wrong Server key. I added redundant quotes around the key. Once I removed them everything became working properly.

[2017-01-22 23:37] jlcvp commented on #15
Note that your server key might have changed in your firebase console. it happened to one of my projects once.

[2017-01-24 09:21] felixfong227 opened #16 "Did fire the callback?"
![image](https://cloud.githubusercontent.com/assets/13918481/22241181/496a1b9e-e259-11e6-94ed-1747bf438458.png)
I don't know whether is me wrote the code wrote or something, it just can't fire up the callback function?

[2017-01-24 16:34] shekharsumanpandey-tudip opened #17 "Getting InvalidRegistration error"
I have added changes as you had suggested.
Even after adding the FCM key and the device token. I'm getting this error and failure to send the notification.

Please help me out. Thank you!

{"error":"InvalidRegistration"}

[2017-01-27 03:31] yofu1234 opened #18 "ReadMe fix"
Some iOS users report a delay receiving the notifications and even a 'not receive at all' scenario if the priority field is not set. This is due to a delivery policy with APN (See APNs Provider API for a more detailed info: https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/APNsProviderAPI.html#//apple_ref/doc/uid/TP40008194-CH101

[2017-01-27 16:38] jlcvp commented on #15
You can recheck your key at https://console.firebase.google.com/project/_/settings/cloudmessaging

[2017-01-27 17:56] jlcvp commented on #17
Firebase recently upgraded their keys to a new format. In theory, the old keys should still work, but I strongly recommend you to recheck your server's keys at https://console.firebase.google.com/project/_/settings/cloudmessaging and your mobile keys in your app aswell.

[2017-01-27 21:27] jonathan-chin opened #19 "tag field?"
I'm new to push notifications. It seems like what I really want is collapse_key, where the user's notification tray combines or overwrites a notification. but, it only works when the receiving device is offline?

how do I get that functionality also when it's online? some documentation online mentions FCM supporting a `tag` key, but it's not apparent if I can use it with fcm-node

what are my opti

[2017-02-08 19:35] antoinerousseau opened #20 "Use Firebase Admin SDK?"
I saw that Firebase released this:

https://firebase.google.com/support/release-notes/admin/node
https://firebase.google.com/docs/reference/admin/node/admin.messaging

Maybe we should use it?

[2017-02-11 14:00] jlcvp commented on #20
This new sdk makes this lib obsolete, I'll be releasing soon a new "version" of the readme encouraging the use of the google's native node client. Additionally I will port the current version to use firebase back-end for those who still want to use callbacks instead of promises.

[2017-02-11 14:02] jlcvp commented on #18
Thanks for pointing that out. I`ve fixed the readme

[2017-02-11 14:02] #18 closed

[2017-02-11 14:08] jlcvp commented on #19
This collapse_key option is for notifications that wasn`t sent yet. (i.e.: notifications of new versions available. If you release a version 1.0 and then fix a bug and relase a 1.0.1, you`ll want only the 1.0.1 notification to be sent to those that didn`t received the 1.0 notification yet.)

For a functionality like facebook messenger or whatsapp messenger where the number of new messages are show

[2017-02-11 18:50] jonathan-chin commented on #19
Thanks @jlcvp I actually figured out the functionality I needed; it was indeed the tag key, though I don't think fcm-node properly documents it:

[code]

[2017-02-11 18:50] #19 closed

[2017-03-02 01:24] mike-aungsan opened #21 "Receive UpStream Message on Server"
Any lib or how to receive upstream message on server?

[2017-03-26 23:14] yofu1234 commented on #20
What about the newly released firebase cloud functions, does that make firebase admin sdk obsolete?

[2017-03-29 20:08] #20 closed

[2017-03-30 09:01] autumnli opened #24 "ReferenceError: serverKey is not defined"
I just pulled the latest code but found the runtime error below
---------
ReferenceError: serverKey is not defined
    at new FCM (/node_modules/fcm-node/lib/fcm.js:13:26)
---------
It seems from the last checkin that uses the variable serverKey no longer exist

[2017-03-30 15:32] #24 closed

[2017-03-30 15:36] jlcvp commented on #24
thanks for reporting, it was fixed by the pull request #23

[2017-04-02 21:00] #17 closed

[2017-04-03 00:41] #15 closed

[2017-04-03 00:41] #16 closed

[2017-04-06 05:28] deepak125 opened #26 "SyntaxError: on "fcm-node/lib/topic_request.js:7""
Getting below error on ubuntu
`SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
`
Fixed it by adding `"use strict";` on line 6.

[2017-04-06 12:01] #26 closed

[2017-04-19 10:46] nickmendes commented on #19
@jonathan-chin, tag option only works for Android or Browser , any iOS idea ?

[2017-04-21 09:19] madara134 opened #28 "Support for Typescript, Please"
Support for Typescript, Please
Thanks

[2017-05-23 12:38] jfreak opened #29 "Registration_Token"
How do i get all registration_tokens?

[2017-05-23 13:40] jlcvp commented on #29
The device registration token is taken in the client.

follow the link below to see how to get it in android devices.
https://firebase.google.com/docs/cloud-messaging/android/client#retrieve-the-current-registration-token

[2017-05-23 13:50] jfreak commented on #29
thanks 👍

[2017-05-23 13:50] #29 closed

[2017-05-23 18:00] jlcvp commented on #21
This depends on your backend platform strongly. Upstream messages are sent through a XMPP message. You need to find a decoding/digest lib that suits best for your system.

[2017-05-23 18:00] #21 closed

[2017-05-23 18:01] jlcvp commented on #28
At the moment, I don't have the expertise to add typescript support to the library, sorry.

[2017-05-23 18:01] #28 closed

[2017-06-09 21:52] albes opened #30 "Turn on display on notification"
this is not really an issue because the library is excellent... anyway i'm wondering if there is a fast way to force the screen on (when the device is locked) with a notification.
Is there any parameter or setting that we can use to do this? Thank you

[2017-08-31 11:34] nilaybrahmbhatt opened #31 "How to perform multicast ?"

[2017-09-12 06:48] devesh2605 opened #32 "FCM Failed registration id"
`   fcm.send(message, function(err, response) {
                                    if (err) {
                                        let errorData = JSON.parse(err);
                                        let statusData = {
                                            'success' : errorData.success,
                                            'failure' : errorData.failure

[2017-09-12 14:28] jlcvp commented on #32
The [official FCM Documentation](https://firebase.google.com/docs/cloud-messaging/send-message#device-group-http-response) tell us that if there's any failure, the field **`failed_registration_ids`** is set with a list of failed ones.

The response message will be like this:
[code]

[2017-09-12 15:22] jlcvp commented on #31
you can send messages to multiple subjects by passing an array of registration tokens  or sending a message to a topic, a example of sending to multiple clients follows
[code]

you can always refer to [Firebase Cloud Messaging Reference](https://firebase.google.com/docs/cloud-messaging/http-server-ref) to learn more about the supported message types

[2017-09-12 15:22] #31 closed

[2017-09-12 15:31] jlcvp commented on #30
On Android we can wake up the phone and launch an activity programatically. You can attach the codes showed [here](https://stackoverflow.com/questions/31066821/unlock-the-screen-programmatically) on your FirebaseMessagingService.onMessageReceived

[2017-09-12 15:31] #30 closed

[2017-09-29 18:41] #32 closed

[2017-10-22 09:58] thiemnd opened #33 "not working in nodejs v 4.7.0"
TypeError: Cannot read property 'navigator' of undefined
/fcm-node/node_modules/firebase-admin/lib/database/database.js:39:492

[2017-11-17 12:51] abmnukmr commented on #8
@antoinerousseau
 Hi

const FCM = require('fcm-node');

    const apiKey = "MY API KEY" /// it  replaced with my own values
    const fcm = new FCM(apiKey);

    var message = {
        to:" device Token",  /// it  replaced with my own value

       priority: 'high',

        data: {
            title: "msguser_sender",
            body: "msguser_sender",
            text: " msgmessage",

[2017-11-17 13:30] antoinerousseau commented on #8
what do you get in the log? (response or error)

[2017-11-17 13:31] abmnukmr commented on #8
Successfully sent with response:  {"multicast_id":8837314142145939068,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1510925424333357%4d35cc53f9fd7ecd"}]}

[2017-11-17 13:33] antoinerousseau commented on #8
well first of all it's not `data` it's `notification` you must set in the payload.

[2017-11-17 13:37] abmnukmr commented on #8
@antoinerousseau   still not getting

[2017-11-17 13:44] abmnukmr commented on #8
@antoinerousseau  thanks alot  its working  👍

[2017-11-17 13:46] antoinerousseau commented on #8
I'm now using the official [firebase-admin](https://www.npmjs.com/package/firebase-admin) package anyway:

[code]

See the doc:
https://firebase.google.com/docs/cloud-messaging/admin/send-messages

[2017-11-24 07:34] naumanahmad17 opened #34 "Successfully with response but client doesn't get notifications"
Successfully sent message: { results: [ { messageId: '0:1511508709940437%6f2857526f285752' } ],
  canonicalRegistrationTokenCount: 0,
  failureCount: 0,
  successCount: 1,
  multicastId: 5428886452395349000 }

i put own server details.when i try to send notification using  firebase console it successfully send notification but i am unable to send notification using fcm-node.

[2017-12-06 13:45] juicycool92 commented on #34
same here, any solutions folks? it work at console notification, but not node :(

[2017-12-06 14:03] naumanahmad17 commented on #34
can you please share the payload ?

[2017-12-06 14:07] juicycool92 commented on #34
app.js
[code]

console :
[code]
im preety sure im following official firebases guide, but its not working at all(sigh)

[2017-12-06 14:19] naumanahmad17 commented on #34
`var payload = {`
      ` notification: {`
           `title: 'Title of test push notification',`
           ` body: 'Body of test push notification',`
           ` click_action:"FCM_PLUGIN_ACTIVITY"`
      `    },`
         ` data: {`
          `  orderId:"123",`
           ` pickLocation:"g10",`
           `dropLocation:"f10 ",`
         `  orderType:"Posted"`
          `}`
       ` };  `

you a

[2017-12-06 14:52] jlcvp commented on #34
AS @naumanahmad17 pointed out, the automatic notification generation is through the **notification** object in the payload.

Use the data object only when you need to push more "data" into your background service.

[2017-12-06 14:52] #34 closed

[2017-12-07 05:38] juicycool92 commented on #34
thankyou folks! i understand now, and make code works :>

[2018-01-05 14:57] FarhanAhmad212 opened #35 "Error : socket hang up ( it working fine but suddenly stop from yesterday.)"
Hi it was working fine since last month but suddenly stop from yesterday and following error.

Error: socket hang up
  at createHangUpError (_http_client.js:302:15)
  at Socket.socketCloseListener (_http_client.js:334:23)
  at emitOne (events.js:101:20)
  at Socket.emit (events.js:191:7)
 at TCP._handle.close [as _onclose] (net.js:511:12) code: 'ECONNRESET' }

it might due to content length please

[2018-01-05 15:52] jlcvp commented on #35
@FarhanAhmad212 can you provide more information about your instance?

Are you using the FCM constructor with the json file or the plain text key?

[2018-01-05 15:55] FarhanAhmad212 commented on #35
I am using with json file .

Thanks

[2018-01-05 17:35] FarhanAhmad212 commented on #35
I start working now .

Thanks
Farhana ahmad

[2018-01-09 16:08] #35 closed

[2018-01-09 16:09] #33 closed

[2018-01-10 12:14] spmamidi opened #36 "send message with image?"
can you provide sample code to send message with image?

[2018-01-10 12:43] jlcvp commented on #36
what do you mean by that? send the image bytes through fcm?

[2018-01-10 12:54] spmamidi commented on #36
Yes. Send image bytes

[2018-01-10 13:02] jlcvp commented on #36
FCM has a limit of 4kb per message. If your image fit within this limit, you can get the base64 representation of that image, send it and reconstruct the image in the other end e.g.. Otherwise you need to send just the link to that image and fetch it on the application side.

[2018-01-10 13:03] jlcvp commented on #36
for futher information about payload limits, please refer to https://firebase.google.com/docs/cloud-messaging/concept-options#data_messages

[2018-01-30 16:13] nurulnabi opened #37 "push notification on android appears with huge delay"
The response perfectly ok but the notification on android devices reaches with huge delay and sometimes it simply doesnt. what could be the probable reason?

[2018-02-05 22:57] #36 closed

[2018-03-06 11:33] HugoHeneault commented on #37
There is no delivrability guaranted for notifications. If you want to be sure of having them instantly you'll have to use VoIP notifications

[2018-03-21 04:09] Priyadarshanipp commented on #12
@jlcvp  My registration token is correct and notifications are sent by the server but didn't received by client app. What is the problem? I tried refreshing the token as well.

[2018-03-21 15:12] jlcvp commented on #12
@Priyadarshanipp Can you give more information?

1. how is your message structured?
2. Are you using the device registration in the` FirebaseInstanceId.getInstance().getToken()` method?
3. If you're sending a topic, make sure device is subscribed to it

[2018-04-02 19:31] jlcvp commented on #37
Complementary to @HugoHeneault 's comment. FCM uses a dynamic heartbeat interval for pushing notifications on device. This delay you've experienced can have multiple causes, among them, but not limited to:
- Android's Doze mode
- Network issues
- Battery "optimization" apps

[2018-04-02 19:31] #37 closed

[2018-06-08 12:03] prabu-theappsolutes commented on #12
module NotificationHelper
  require 'fcm'
  def send_notification(location, message,user_id )
    firebase_key = Rails.application.secrets.firebase_key

    user = User.find_by(id: user_id)
    fcm = FCM.new(firebase_key)
    registration_ids= [user.device_token] # an array of one or more client registration tokens
    options = {:data => {message: message}, location: location}
    response = fcm.

[2018-06-11 12:57] enlivenaman commented on #8
@antoinerousseau not getting notification in ios but in android it's working fine
[code]

1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1528721367502716%4cb
d4c214cbd4c21"}]}

[2018-06-11 13:05] antoinerousseau commented on #8
@enlivenaman use [firebase-admin](https://www.npmjs.com/package/firebase-admin) as explained in my previous comment.

[2018-06-12 06:40] enlivenaman commented on #8
thanks @antoinerousseau  it's working :+1:

[2018-06-26 12:53] jnext-Wp-Plugin commented on #8
hello i got same issues

[2018-06-26 12:53] jnext-Wp-Plugin commented on #8
Check my code Here:
define( 'API_ACCESS_KEY', '------' );
				// API access key from Google API's Console
				//define( 'API_ACCESS_KEY', 'YOUR-API-ACCESS-KEY-GOES-HERE' );
				$registrationIds = array('e8-l_jCfL6M:APA91bHiE1nVEYDSAdLnIPI-Z5-Wo4_Z6nKkG6YEX5gpW1P79vrClvkX5YZ3w6cw9WbQ5WzoO0qDCxZHWzr0SVnIL_IE0aeD1XVGA7dj2JHnyYhpGMaB-Rv1Db5sK3g3C-UDEFAvlHq4Sb3Vi7tz53nBAnZuQ9bX0w','fnSbi298T44:APA91bH_

[2018-08-03 17:09] renanrosalojasmm commented on #15
I am having the same issue.
I already checked my key and it's fine.

[2018-09-25 22:09] gask opened #40 "Multiple recipients, same message, different data payloads"
Hi there, I've been using fcm-node in my nodejs app for a while now and it's been great. But there are some cases where I have my doubts on how to proceed:
I have some cases where I need to send a certain type of notification with user-specific payloads but with the same push notification message. The approach I've been using nowadays is, IMHO inefficient and I'd like to share it with you and ask

[2018-09-27 17:19] jlcvp commented on #40
Unfortunatelly, Firebase doesn`t have support for an approach like yours.

If there's a bottleneck on server because of this, I'd move to a push-then-pull approach, where you send the same notification to the users and then make a request, once the notification is clicked, the server is responsible to identify each user and serve the appropriate data they need, thus reducing the peak usage on serv

[2018-11-05 12:22] podstawski opened #41 "firebase-admin version"
Hello,
Would you please upgrade your package.json to use newer version of firebase-admin, now npm shouts:

Step #1: npm WARN deprecated hoek@2.16.3: This version is no longer maintained. Please upgrade to the latest version.
Step #1: npm WARN deprecated joi@6.10.1: This version is no longer maintained. Please upgrade to the latest version.
Step #1: npm WARN deprecated topo@1.1.0: This version is n

[2019-03-04 06:23] devsiodedra opened #42 "How to use rich text notification, i want to send image that display event if app is in background."
How to use rich text notification, i want to send image that display event if app is in background.

so i want to add  `"mutable_content": true,`

my current code is as below.

[code]

[2019-03-17 14:37] laychar opened #43 "fcm.send always called more than one time."
Following is my code
[code]

[2019-03-17 14:39] laychar commented on #43
var push = function(req,res){
    console.log('1');
  var id= req.body.id||0;
  var FCM = require('fcm-node');
  var database = req.app.get('database');
  var output ={};
  var client_token;
  var ct = parseInt(Date.now());
  if(database){
      var al3={s:'ss'};
    database.TkModel.find({id:id},function(err,results){
      if(err){
        console.log('TkModel.find err');
        output.status=4

[2019-03-20 16:49] jlcvp commented on #41
thanks for the report, fixed on version 1.4.0

[2019-03-20 16:49] #41 closed

[2019-03-20 16:52] #43 closed

[2019-03-20 16:53] #40 closed

[2019-03-21 13:57] jlcvp commented on #42
remove the `notification` object, send just the `data` and build your rich notification internally in your application

[2019-03-21 13:57] #42 closed

[2019-03-27 15:17] wuestkamp commented on #15
Same issue, key is fine if I fire manually via `curl`.

[2019-03-27 18:00] jlcvp commented on #15
@wuestkamp indeed, the key `to` was meant to be used in messages to ONE SINGLE device. For multicast messages, we need to use the key `registration_ids`. If i get some free time these days I can make an implementation to check these cases and informe more clearly than FCM itself

[2019-04-11 08:50] RunnableWeb opened #44 "is it possible to send push notification with action buttons in message?"
my message is something like this
 `let message ={
  to: user.fcmToken,
                        notification: {
                            title: "title message",
                            body: `body message`,
                            "sound": "default"
                        }
}`

[2019-04-11 13:06] jlcvp commented on #44
Hi, @RunnableWeb

I recommend creating a data-only payload, and do the treatment and notification show on service

something like:
[code]

then on your fcmservice in-app you build a notification based on the data payload received

[2019-04-12 07:15] RunnableWeb commented on #44
Hey @jlcvp, thank you for the response,

by `then on your fcmservice in-app you build a notification based on the data` you mean I can configure and customize the notification from and within the app? does that mean that when the user runs the app for the first time the notification will be configured?

I am using Ionic that based on Cordova to build my apps and Cordova is a platform to build Nati

[2019-04-12 20:37] jlcvp commented on #44
@RunnableWeb Luckly I`m an ionic/cordova developer too. What I can say is that you need a background service that receives the fcm broadcast.

Once the data is sent from your fcm server, the service builds a local notification using the `data` object received. Remember you can send any key-value pair on data.

Use [this ionic native plugin](https://ionicframework.com/docs/v3/native/local-notificat

[2019-04-13 05:18] RunnableWeb commented on #44
Hey, @jlcvp Thank you so much for your help, I will have a look at these plugins ASAP.

[2019-04-13 05:18] #44 closed

[2019-04-15 12:15] jlcvp commented on #44
@RunnableWeb np, feel free to get in touch

[2019-05-07 19:49] 1211amarsingh commented on #15
change key of inner variable of data.. if u use (message_type) as key ... server will send InvalidServerResponse

[2019-05-18 13:24] mihristov opened #45 "Multiple instances of FCM"
Hi. I have two mobile apps managed by a nodejs server which is responsible for sending notifications to both apps. Since each mobile app has it's own Firebase account, my nodejs server needs to keep two instances of FCM simultaneously.
Current behavior:
Version:  "fcm-node": "1.4.1"
When I start the nodejs server I get the following message:

Can I request a change (a second parameter to the FCM c

[2019-05-20 18:00] jlcvp commented on #45
Thanks for your contribution, version I`ll update the lib to version 1.5.0

[2019-05-20 18:00] #45 closed

[2019-05-22 13:58] gnorbsl opened #47 "Invalid Firebase app name "null" provided. App name must be a non-empty string."
After updating to 1.5 I get this error.

I'm using this method:

const FCM = require('fcm-node');
const serverKey = require('../private/firebase-adminsdk.json');
const fcm = new FCM(serverKey);

Any Idea what could cause this?

    Error: Invalid Firebase app name "null" provided. App name must be a non-empty string.
    at FirebaseAppError.FirebaseError [as constructor] (/home/waggldaggl/Webstorm

[2019-05-23 16:27] jlcvp commented on #47
21f4e52 fixes this

version 1.5.1 released

[2019-05-23 16:27] #47 closed

[2019-05-27 11:19] abhinav098 opened #48 "Could not find a declaration file for module 'fcm-node'."
I am using a `cordova` based hybrid mobile app. My app is built using `ember@2.13`. I need to integrate fcm push-notifications to my app, I'm using `phonegap-plugin-push@2.1.2`.

I added the package into my `package.json`.
By doing `yarn add fcm-node`.
Then I imported it in my controller file, by writing code like =>
`import FCM from 'fcm-node';`, /
`import * as FCM from 'fcm-node';`/
also tried `

[2019-05-27 14:09] jlcvp commented on #48
This library is meant to be used in back-end code and doesn`t have a typing declaration file for typescript. Use it as a common javascript lib

[2019-05-27 14:09] #48 closed

[2019-06-19 07:16] uropsm opened #49 "fcm.send"

[2019-06-19 07:16] uropsm opened #50 "fcm.send's callback is called twice"
fcm.send's callback is called twice.
please help!

fcm.send(message, function(err, response){
    if(err) {
      console.log("Something has gone wrong!")
    } else {
      console.log("Successfully sent with response: ", response) << called twice!
    }
  })

[2019-06-19 07:19] #49 closed

[2019-06-19 08:21] uropsm commented on #50
in fcm.js,
It looks that this part causes this issue.

res.on('end', respond);
res.on('close', respond);

[2019-07-02 12:08] hariantara opened #51 "No Sound after app killed, the solution you can add some properties"
Hi,

on your documentation on NPM website you forget to add some properties inside the notifications

`"notification": {
        "title": "notif title",
        "body": "notif body",
        **"sound": "default",
        "icon": "ic_icon",
        "priority": "high",
        "content_available": true**
    },`

[2019-08-07 11:59] sanjeevgehlot008 commented on #50
Same issue

if (err) {
						var data = {
							status: "false",
							response: { "message": "Notification not send successfully" }
						};

						res.json(data);
					} else {
						var data = {
							status: "true",
							response: { "message": "Point send successfully" } // calling twice
						};

						res.json(data);
					}

[2019-08-14 09:04] sulaysumaria commented on #7
I am having the same issue. I also want to send the payload along with title and body, how can I achieve that?

[2019-08-22 14:34] jlcvp commented on #51
hi @hariantara, thanks for using this lib. When I created the lib, the sound field wasn't a required one for sound to work. At the that time, when you send a notification, it'll play the default notification sound.

[2019-08-22 14:34] #51 closed

[2019-08-29 02:04] #50 closed

[2019-09-02 04:56] sulaysumaria opened #53 "Migrating guide from fcm-node to firebase-admin"
As per the warning on Readme, it is advisable to use `firebase-admin` instead of `fcm-node`.  I followed the link to documentation but am not sure how to implement it.

It would be better to have a wiki conveying how to migrate from `fcm-node` to `firebase-admin`. Something like what exactly I need to change if I have implemented `fcm-node` and want to replace it with `firebase-admin`.

Any help w

[2019-09-14 19:15] maheshmnj commented on #28
but the code works in typescript too

[2019-09-15 19:44] jlcvp commented on #53
1. click on the link on Readme that points to **admin.messaging()** - there you`ll find how to get an instance of Messaging Service
2. Open [Messaging](https://firebase.google.com/docs/reference/admin/node/admin.messaging.Messaging.html) documentation and find the methods you need to send message to devices, conditions and topics with a little more power than this interface library

[2019-09-16 12:17] #53 closed

[2019-10-03 22:07] akshaycrt2k opened #54 "No way to set Priority for data messages"
Hi,
I've tried adding options to the message payload, but I always get an error like this:

{ code: 'messaging/invalid-payload',
     message:
      'Messaging payload contains an invalid "options" property. Valid properties are "data" and "notification".' },
  codePrefix: 'messaging'
}

Please let me know if there is a way to set priority

[2019-10-04 13:49] jlcvp commented on #54
see [this firebase doc](https://firebase.google.com/docs/cloud-messaging/concept-options#setting-the-priority-of-a-message) to find out the fields required to set a message priority

[2019-11-09 21:23] srigiri92 commented on #54
Hi,

I've using this i
 var isSent =false
for(let token of tokens){
 isSent = await fcm.send(message, async (err, response)=> {

                    if (err) {
                        console.log("Something has gone wrong!");
                        return false;
                    } else {
                        console.log("Successfully sent with response: ", response);

[2019-11-10 06:06] srigiri92 opened #55 "Send fcm synchronous call available ?"
Hi,

I'm facing following issue,

[code]

[2019-11-21 18:50] jlcvp commented on #55
try like this

[code]

[2019-11-21 18:50] #55 closed

[2019-11-21 18:50] #54 closed

[2019-12-04 06:17] honeyTops commented on #12
Hi I am facing the same issue. I am also not able to get the notification on device
This is my message object :
let message = {
    //this may vary according to the message type (single recipient, multicast, topic, et cetera)
    to:"Users device token",
    collapse_key: "your_collapse_key",

    notification: {
      title: "Title of your push notification",
      body: "Body of your push notifi

[2019-12-24 07:48] amirzandi opened #57 "it is not working"
A very bad library actually. lack of information and lack of guide to send messages to topics.
priority and content_available are not working and throw error.

[2020-03-09 17:30] jlcvp commented on #57
Hi, thanks for reaching out. Actually this library is deprecated since 2017. I strongly recommend using Firebase SDK instead.

[2020-03-09 17:30] #57 closed

[2020-04-21 05:21] aboutyu opened #63 "How to initialize many apps?"
Hello.

I develop FCM to send 3 apps using this library.
but showing follow error messages.
How to set this case?

- code
const serverKey_10001       = require('../config/pushkey/b.json');
const serverKey_10002       = require('../config/pushkey/a.json');
const fcm_zeroshop            = new FCM(serverKey_10001, undefined, 'zeroshop');
const fcm_hidoc               = new FCM(serverKey_10002, undefi

[2020-04-22 13:19] jlcvp commented on #63
at this time, it's not supported, I recommend you to use the [admin.messaging](https://firebase.google.com/docs/reference/admin/node/admin.messaging) directly as this library is not getting updates anymore

[2020-04-22 13:19] #63 closed

[2020-05-15 13:25] vpaul9678 opened #65 "how to use encryption and decryption technique?"
I want to send a push notification in an encrypted format. Is there any way of doing it?

[2020-06-30 10:30] rosnaib11 opened #66 "Why I'm getting this error? Messaging payload contains an invalid "collapse_key" property. Valid properties are "data" and "notification"
This is my payload.

[code]

It work but if I add collapse_key I'm getting error

[2020-07-22 11:47] jlcvp commented on #66
Yeah, fcm changed their payload structure. I recommend you to use their SDK to deliver notifications

[2020-11-05 13:11] jlcvp commented on #66
Try adding the collapse_key into the notification object

[2020-11-05 13:11] #66 closed

[2020-11-05 13:12] jlcvp commented on #65
please be more specific. On the notification object, it'll only accept string payload. But you can send an encripted payload in the data object

[2020-11-05 13:12] #65 closed

[2020-11-23 21:43] mianmuri1991 opened #72 "I had a solution for a bug (app was already initialized)"
Hi, when you send two or more requests by using fcm-node in a .js script there is an error that says that the app already exists.

In the node_modules/fcm-node there is a file called fcm.js

My solution is to edit this file, like this (I had already done this and it works):

else{ //accountkey object passed, new SDK 'de-promisefy' use <--- STAYS THE SAME
	if(firebaseadmin.apps[0]){
            fir

[2020-11-24 10:57] gotocva commented on #15
@1211amarsingh I too facing same issue your message helped me a lot. thank you so much

[2020-12-03 23:03] #72 closed

[2021-03-09 16:46] fdagostino opened #77 "Update NPM package"
Hi,
Can you update the npm package so we can get the latest version?

Thanks,
Fran

[2021-03-31 11:08] jlcvp commented on #77
1.6.0 released with multi client support

[2021-03-31 11:08] #77 closed

[2021-04-25 06:47] mrafiqk opened #80 "I am facing InvalidServerResponse while sending notification"
I am not able to send any notification to my android or ios device. We upgraded to a newer version, but our notification still fails.
I have attached my sample code here. Please let me know if need to change anything. But it worked fine before. The same code now fails.

[code]

[2021-06-10 22:10] ismailceliktr commented on #80
I have same problem. Any idea?

[2021-06-15 20:45] jlcvp commented on #80
Google may have deprecated the sdk version I use or maybe they change the message format. I'll investigate and see if it's worth updating the lib

[2021-06-16 12:06] ismailceliktr commented on #80
My problem was entirely my fault. I manually set the FCM API ip addresses in /etc/hosts for my firewall rules. Requests to an IP address get stuck in the firewall. After rearranging my firewall settings, my problem was solved.

[2021-06-16 12:22] jlcvp commented on #80
@mrafiqk based on @ismailceliktr testimony, can you check your network settings to see if the firebase host is accessible?

[2021-06-20 08:52] mrafiqk commented on #80
@jlcvp I think the problem is my token. I regenerated my token and sent my notification again. It works fine.

[2021-07-07 11:18] renatomotorline opened #82 "Collapsing notifications in iOS"
Hi,

Is possible to use the "apns-collapse-id" to collapsing notifications in iOS.
I use the "tag" for android and works but I'm trying to do the same for iOS but without success.

Code:
[code]

[2021-07-07 14:10] jlcvp commented on #82
Hi renato, thanks for using the lib. I strongly recommend you to migrate to firebase node SDK instead of this lib but answering your question: Taking a look at the official documentation for FCM message structure, you will see that to collapse a notification you'll need to set the `collapse_key` value with a string identifier. You can have only 3 distinct keys at any given time, so use it with thi

[2021-07-07 14:10] #82 closed, assigned to nobody

[2021-07-07 14:11] #80 closed, assigned to nobody

[2021-10-25 01:10] ifeora-emeka opened #87 "How can I add a click event?"
say, for example, when the user clicks on the notification, I redirect them to a specific page.

[2021-11-30 20:10] impratick opened #88 "How can I pass additional settings of notification i.e. TTL"
I want to set TTL of notification for android and iOS. As per google document, we achieve it by adding the below params into the FCM payload.

Link: https://firebase.google.com/docs/cloud-messaging/concept-options#ttl

Please help me with this

[2021-12-28 11:00] shaheerahmed1997 opened #90 "question"
what is collapse key as you have mentioned in the example?

[2021-12-29 10:50] shaheerahmed1997 opened #91 "error"
misMatchSenderId ?

[2022-01-08 19:38] alialaraby opened #92 "unsubscribeToTopic - SyntaxError: Unexpected token E in JSON at position 0"
here's my situation:
I have a bunch of users each of which has an array of topics to subscribe on, i'm iterating over users > topics to subscribe and to unsubscribe the topics.

subscribing is working fine but i'm facing that error when i unsubscribe, also the try/catch has no effect, the app totally crashes.

here's the error:

CB(JSON.parse(e), null);

SyntaxError: Unexpected token E in JSON at

[2022-03-10 09:44] dantn93 opened #94 "(InvalidServerResponse) Error when send notification to topic"
I found a bug when I sent a notification to  `topic`.
My function like that:
[code]
ERROR:
[code]
Please check again! It's urgent with me. Thanks

[2022-03-10 09:47] dantn93 commented on #94
Our system worked perfectly with this code before, but now it did not. I just found this error some days ago!

[2022-03-30 06:33] reestolonio opened #96 "proxy_url is not used when accountKey is an object (from a json file)"
Looks like proxy_url is only used in API key legacy use

[2022-04-14 16:16] jlcvp commented on #87
This is done in the front-end directly, see the documentation for the specific platform you're using

[2022-04-14 16:16] #87 closed, assigned to nobody

[2022-04-14 16:19] jlcvp commented on #88
This is a newer feature this lib doesn't support. Additionally, this lib is becoming strongly deprecated and I do not intend to keep the support for it any further, please use the official firebase sdk for node.

[2022-04-14 16:19] #88 closed, assigned to nobody

[2022-04-14 16:25] jlcvp commented on #90
collapse key is used to "collapse" an older notification of the same collapse key.
For example, if I have a package tracking app and a package status is modified to IN TRANSIT, then, DELIVERED. The only information that matters to be in a notification is the last one. I can use the same collapse_key for both, so when the DELIVERED notification arrives, if the user haven't seen the IN TRANSIT the O

[2022-04-14 16:25] #90 closed, assigned to nobody

[2022-04-14 16:25] jlcvp commented on #90
Additionally, this lib is becoming strongly deprecated and I do not intend to keep the support for it any further, please use the official firebase sdk for node.

[2022-04-14 16:26] jlcvp commented on #91
This lib is becoming strongly deprecated and I do not intend to keep the support for it any further, please use the official firebase sdk for node.

[2022-04-14 16:26] #91 closed, assigned to nobody

[2022-04-14 16:26] jlcvp commented on #92
This lib is becoming strongly deprecated and I do not intend to keep the support for it any further, please use the official firebase sdk for node as informed in the readme header.

[2022-04-14 16:26] #92 closed, assigned to nobody

[2022-04-14 16:27] jlcvp commented on #94
They must have changed something in the payload format. Additionally, this lib is becoming strongly deprecated and I do not intend to keep the support for it any further, please use the official firebase sdk for node.

[2022-04-14 16:27] #94 closed, assigned to nobody

[2022-04-14 16:27] jlcvp commented on #96
This lib is becoming strongly deprecated and I do not intend to keep the support for it any further, please use the official firebase sdk for node.

[2022-04-14 16:27] #96 closed, assigned to nobody

[2022-06-24 08:57] kushagradevgon opened #99 "Internal Server Error"
It is giving internal server error. how will i know what is going wrong.
 Something has gone wrong! {"multicast_id":823122373188403605,"success":0,"failure":1,"canonical_ids":0,"results":[{"error":"InternalServerError"}]}

[2022-06-26 14:19] jlcvp commented on #99
They must have changed the required message format, I highly recommend you to use the official `firebase.messaging()` service as this library is not being maintained anymore.

[2022-06-26 14:19] #99 closed, assigned to nobody

[2022-09-09 10:15] varun22mittal commented on #15
@jlcvp did you find any solution of this

[2022-09-09 10:53] jlcvp commented on #15
@varun22mittal I'm not maintaining this lib anymore, I strongly recommend you to use the firebase's official node sdk

[2022-09-13 17:30] Sohailze commented on #34
device_token eT9LUtfEQRe1htdCSEVZIy:APA91bED2CktD_qPhQOJTEhDNv2Jd_soLsVnfBbtAzTj6m6Gl45JAHtOfTGUrUL0wkK5IUJoWKpygiffMLFVXkUZPeFcWqRR4OKHOPdSWFOCwmosnXH853l9Ddt2EWmtmrxGMuZd1hVi
0|index  | Notification {
0|index  |   results: [ { error: [FirebaseMessagingError] } ],
0|index  |   canonicalRegistrationTokenCount: 0,
0|index  |   failureCount: 1,
0|index  |   successCount: 0,
0|index  |   multicastId:

[2022-09-13 23:08] juicycool92 commented on #34
@Sohailze
I suggest to use [firebase-admin-node](https://github.com/firebase/firebase-admin-node) instead.
as mentioned "kind of deprecated" on very top of readme file, `firebase-admin-node` can now send push easily.